html {
    scroll-behavior: smooth;
}

.profile-pic {
    width: 300px;
    height: 370px;
    border-radius: 500% ;
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

}

.navbar-brand {
    padding-left: 50px;
}

